<% content_for :head do %>
<title><%= @title %></title>
<% end %>

<div class="container">
	<div class="panel panel-default margin-top-10">
		<div class="panel-heading">
			<h3 class="panel-title"><%= @WelcomeMsg %></h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-4 col-sm-6 col-xs-12">
					<%= link_to "Ruby on Rails API Help page", "http://api.rubyonrails.org" %> <br />
					<%= link_to "Apidock Help page", "http://apidock.com" %><br />
				</div>

				<div class="col-lg-4 col-sm-6 col-xs-12">
					
				</div>

				<div class="col-lg-4 col-sm-6 col-xs-12">
					
				</div>
			</div>
		</div>
	</div>
</div>